In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
ruta_archivo = "houses_medellin.csv"
df = pd.read_csv(ruta_archivo)

In [ ]:
print("Datos originales:")
print(df.head())

Datos originales:
   Unnamed: 0  Habitaciones  Baños  Estrato   Antigüedad Piso N°  \
0           0           NaN    NaN      NaN          NaN     NaN
1           1           1.0    2.0      4.0   1 a 8 años       3
2           2           1.0    2.0      6.0  9 a 15 años     NaN
3           3           NaN    NaN      NaN          NaN     NaN
4           4           1.0    1.0      5.0          NaN       3

  Administración          Precio m²  Parqueaderos Estado Tipo de apartamento  \
0            NaN                NaN           NaN    NaN                 NaN
1    No definida  $ 4.032.258,06*m²           NaN    NaN                 NaN
2    No definida  $ 6.428.571,43*m²           2.0    NaN                 NaN
3            NaN                NaN           NaN    NaN                 NaN
4  $ 167.000 COP     $ 4.700.000*m²           2.0    NaN                 NaN

      Precio Área construída (m²) Área privada (m²)
0  240000000                  NaN               NaN
1  250000000                  62                62
2  675000000                 105                 0
3  647307563                  NaN               NaN
4  235000000                  50                 0

In [ ]:
df = df.drop(columns=["Unnamed: 0"], errors="ignore")

In [ ]:
# Convertir valores categóricos a numéricos con One-Hot Encoding
columnas_categoricas = ["Antigüedad", "Estado", "Tipo de apartamento"]  # Ajusta según el archivo
df = pd.get_dummies(df, columns=columnas_categoricas, drop_first=True)

# Reemplazar valores NaN en columnas numéricas con la media de la columna
df.fillna(df.mean(numeric_only=True), inplace=True)

# Seleccionar solo las columnas numéricas para normalizar
columnas_numericas = df.select_dtypes(include=["int64", "float64"]).columns

# Aplicar Min-Max Scaling a las columnas numéricas
scaler = MinMaxScaler()
df[columnas_numericas] = scaler.fit_transform(df[columnas_numericas])

# Mostrar los primeros datos normalizados
print("\nDatos normalizados:")
print(df.head())

# Guardar el dataframe normalizado en un nuevo archivo CSV
ruta_salida = "houses_medellin_normalizado.csv"
df.to_csv(ruta_salida, index=False)
print(f"\nArchivo normalizado guardado en: {ruta_salida}")

Datos normalizados:
   Habitaciones     Baños   Estrato Piso N° Administración          Precio m²  \
0      0.087655  0.276753  0.697411     NaN            NaN                NaN
1      0.000000  0.200000  0.500000       3    No definida  $ 4.032.258,06*m²
2      0.000000  0.200000  1.000000     NaN    No definida  $ 6.428.571,43*m²
3      0.087655  0.276753  0.697411     NaN            NaN                NaN
4      0.000000  0.000000  0.750000       3  $ 167.000 COP     $ 4.700.000*m²

   Parqueaderos    Precio Área construída (m²) Área privada (m²)  \
0      0.114387  0.000100                  NaN               NaN
1      0.114387  0.000107                  62                62
2      0.250000  0.000390                 105                 0
3      0.114387  0.000372                  NaN               NaN
4      0.250000  0.000097                  50                 0

   Antigüedad_16 a 30 años  Antigüedad_9 a 15 años  Antigüedad_menor a 1 año  \
0                    False                   False                     False
1                    False                   False                     False
2                    False                    True                     False
3                    False                   False                     False
4                    False                   False                     False

   Antigüedad_más de 30 años  Estado_En construcción  Estado_Excelente  \
0                      False                   False             False
1                      False                   False             False
2                      False                   False             False
3                      False                   False             False
4                      False                   False             False

   Estado_Remodelado  Estado_Sobre planos  Tipo de apartamento_Loft  \
0              False                False                     False
1              False                False                     False
2              False                False                     False
3              False                False                     False
4              False                False                     False

   Tipo de apartamento_PentHouse
0                          False
1                          False
2                          False
3                          False
4                          False

Archivo normalizado guardado en: houses_medellin_normalizado.csv